/* 
--------------------------------------------------------
Student Name:       Le Minh Nhat Dang
Student Number:     138205190
Seneca Email:       lmndang@myseneca.ca
Assignment:         Finall Assessment
File Name:          contact.css
Course  :           WEB222NBB
Date Completed:     08/08/2020 (DD/MM/YYYY)
-------------------------------------------------------- 
*/

#con-main {
  font-family: 'Amiri', serif;
  display: block;
  padding: 40px 120px 0 120px;
  text-align: center;
}

#con-main h3 {
  font-size: 2.4em;
}

#con-main .container {
  padding-left: 100px;
}
#form-box {
  max-width: 600px;
  margin: 40px auto;
}

#form-box .row {
  margin-top: 20px;
}

#form-box label {
  text-align: left;
}

#form-radio {
  width: 400px;
  padding-left: 20px;
}

#form-radio input {
  margin-top: 16px;
}

#form-radio label {
  margin-left: 0px;
}

#submit {
  margin-top: 40px;
  height: 40px;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #212121;
}

#seneca {
  display: none;
}
